@use "./common/variables.scss" as *;

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $color-bg;

  .register-box {
    text-align: center;
    background-color: $color-modal;
    padding: $padding * 2;
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 600px;

    .register-block {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }

    h2 {
      text-align: center;
      margin-bottom: $padding;
    }

    .red {
      border: 2px solid rgb(220, 21, 21);
    }

    button {
      margin-bottom: 10px;
    }
  }
}